.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.button-next, .button-prev {
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
  background-color: transparent;
  border: 0;
  color: var(--arrow-button-color);
}

.button-prev:disabled, .button-next:disabled {
  cursor: not-allowed;
  color: rgba(129, 128, 128, 0.09);
}

.card {
  height: 10rem;
  width: 20rem;
  background-color: var(--secondary-30);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  justify-content: flex-end;

  &-upper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    &__title {
      margin: .5rem 0;
      background-color: var(--accent-color);
    }
    &__description {
      padding: .3rem 1rem;
    }
  }

  &-lower {
    flex: .5;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

}

@media (max-width: 1000px) {
  .container {
    flex-direction: column;
  }

  .card {
    margin: 1rem 0;
  }
}
