<div class="container">
  <div class="left-side">
    <div class="left-side__picture"></div>
    <div class="left-side__title">Bruno Durieux</div>
    <div class="left-side__icons">
      <app-icon icon="angular" strokeColor="black" iconColor="white"></app-icon>
      <app-icon icon="dotnet" strokeColor="black" iconColor="white"></app-icon>
    </div>
  </div>

  <div class="info-panel">
    <span class="info-panel__title">About Me</span>
    <span class="info-panel__text">
      Software Engineer with over 5 years of experience working with Angular and .Net in projects of all sizes with people from all over the world. Also, cat person, amateur musician and occasional writer.
    </span>
  </div>
</div>
