$size: 15rem;

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.picture {
  background-color: white;
  height: $size;
  width: $size;
  border-radius: 100%;
}

.info-panel {
  background-color: white;
  height: $size;
  width: 25rem;
  border-radius: 10px;
  padding: 1rem;
  text-wrap: normal;
}
