<div class="container" [ngClass]="{'expanded': isOpen}">
  <div class="expand-button" [ngClass]="{'expanded-button': isOpen}">
    <app-icon (click)="isOpen = !isOpen" [icon]="!isOpen ? 'plus-square' : 'minus-square'" id="expand" [isClickable]="true"></app-icon>
  </div>

  @if(isOpen) {
    <div class="options">
      <a href="">option</a>
      <a href="">option</a>
      <a href="">option</a>
    </div>
  }

  <div class="links" [ngClass]="{'expanded-links': isOpen}">
    <div class="links-icon">
      <app-icon (click)="isOpen = !isOpen" icon="github" [isClickable]="true"></app-icon>
    </div>
    <div class="links-icon">
      <app-icon (click)="isOpen = !isOpen" icon="linkedin" [isClickable]="true"></app-icon>
    </div>
  </div>
</div>
