<div class="container" [ngClass]="{'expanded': isOpen}">
  <div class="expand-button" [ngClass]="{'expanded-button': isOpen}">
    <app-icon (click)="isOpen = !isOpen" [icon]="!isOpen ? 'plus-square' : 'minus-square'" id="expand" [isClickable]="true"></app-icon>
  </div>

  @if(isOpen) {
    @if(!isHome()) {<a class="options-link home" routerLink="">Home</a>}
    <div class="options">
      <a class="options-link" href="assets/files/bruno-durieux.pdf" target="_blank" download="resume-bruno-durieux">
        Download Resume
      </a>
      <a class="options-link" routerLink="view-resume">View Resume</a>
    </div>
  }

  <div class="links" [ngClass]="{'expanded-links': isOpen}">
    <div class="links-icon" [ngClass]="{'expanded-links-icon': isOpen}">
      <app-icon icon="email" (click)="openLink(emailScript)" [isClickable]="true"></app-icon>
      @if(isOpen) { <a class="expanded-links-icon__text" [href]="emailScript" target="_blank">Email</a> }
    </div>
    <div class="links-icon" [ngClass]="{'expanded-links-icon': isOpen}">
      <app-icon icon="github" (click)="openLink(githubURL)" [isClickable]="true"></app-icon>
      @if(isOpen) { <a class="expanded-links-icon__text" [href]="githubURL" target="_blank">GitHub</a> }
    </div>
    <div class="links-icon" [ngClass]="{'expanded-links-icon': isOpen}">
      <app-icon icon="linkedin" (click)="openLink(linkedinURL)" [isClickable]="true"></app-icon>
      @if(isOpen) { <a class="expanded-links-icon__text" [href]="linkedinURL" target="_blank">LinkedIn</a> }
    </div>
  </div>
</div>
