$icon-size: 3.2rem;

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 3.5rem;
  transition: width 200ms ease-in-out;
}

.expanded {
  width: 10rem;
  transition: width 300ms ease-in-out;
  background-color: white;
  &-button, &-links {
    align-self: flex-start;
  }
}

.expand-button, .links-icon {
  height: $icon-size;
  width: $icon-size;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

