.anchor {
  display: block;
  padding: .5rem 1.5rem;
  background-color: var(--secondary-30);
  border-radius: 5px;
  color: white;
  text-decoration: none;
  transition: transform ease 0.2s;

  &:hover {
    background-color: var(--secondary-20);
    transform: translate(0, -3px);
  }
}
