.container {
  height: 100%;
  width: 100%;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
}

.upper-section {
  flex: 1;
  background-color: var(--background-color);
}

.lower-section {
  flex: 1;
  background-color: var(--background-color);
}
