/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&family=Roboto:ital,wght@0,400;1,900&display=swap');

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Roboto Mono", serif;
  color: var(--text-color);
}

:root {
  --background-color: #020d09;
  --primary-color: #86eacc;
  --secondary-color: #1d188c;
  --accent-color: #8a40dd;
  --text-color: #d8f8ee;
  --secondary-20: #1d188c33;
  --secondary-30: #1d188c4d;
  --text-link-color: #551a8b;
}
