/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&family=Roboto:ital,wght@0,400;1,900&display=swap');

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Roboto Mono", serif;
  color: var(--text-color);
}

:root {
  --secondary-20: #1d188c33;
  --secondary-30: #1d188c4d;
  --text-link-color: #551a8b;
  --icon-size: 3rem;
  --title-size: 1.5rem;

  --breakpoint-mobile: 1000px;
}



:root[data-theme="light"] {
  --text-color: #07271d;
  --background-color: #f2fdf9;
  --primary-color: #15795b;
  --secondary-color: #7973e7;
  --accent-color: #6b22bf;
  --arrow-button-color: #000000;
}

:root[data-theme="dark"] {
  --background-color: #020d09;
  --primary-color: #86eacc;
  --secondary-color: #1d188c;
  --accent-color: #8a40dd;
  --text-color: #d8f8ee;
  --arrow-button-color: #FFFF;
}

:root[data-theme="blue-light"] {
  --text-color: #0a0e0f;
  --background-color: #f9fbfc;
  --primary-color: #6495a8;
  --secondary-color: #9dbecb;
  --accent-color: #79a9bc;
  --arrow-button-color: #000000;
}

:root[data-theme="green-light"] {
  --text-color: #060705;
  --background-color: #f6f8f3;
  --primary-color: #8f9f6b;
  --secondary-color: #b1caac;
  --accent-color: #88b288;
  --arrow-button-color: #000000;
}
:root[data-theme="green-dark"] {
  --text-color: #f6f5f3;
  --background-color: #060604;
  --primary-color: #8a8360;
  --secondary-color: #385138;
  --accent-color: #4b6c57;
  --arrow-button-color: #FFFF;
}

:root[data-theme="blue-dark"] {
  --text-color: #eceef3;
  --background-color: #07090d;
  --primary-color: #a0afd3;
  --secondary-color: #314981;
  --accent-color: #4c70c7;
  --arrow-button-color: #FFFF;
}

:root[data-theme="orange-light"] {
  --text-color: #1c140b;
  --background-color: #fcf9f5;
  --primary-color: #db8a38;
  --secondary-color: #f4bf8a;
  --accent-color: #fba44c;
  --arrow-button-color: #000000;
}

