/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&family=Roboto:ital,wght@0,400;1,900&display=swap');

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Roboto Mono", serif;
  color: var(--text-color);
}

:root {
  --background-color: #020d09;
  --primary-color: #86eacc;
  --secondary-color: #1d188c;
  --accent-color: #8a40dd;
  --text-color: #d8f8ee;
  --secondary-20: #1d188c33;
  --secondary-30: #1d188c4d;
  --text-link-color: #551a8b;
  --icon-size: 3rem;
  --title-size: 1.5rem;

  --breakpoint-mobile: 1000px;
}



:root[data-theme="light"] {
  --text: #07271d;
  --background: #f2fdf9;
  --primary: #15795b;
  --secondary: #7973e7;
  --accent: #6b22bf;
}
:root[data-theme="dark"] {
  --text: #d8f8ee;
  --background: #020d09;
  --primary: #86eacc;
  --secondary: #1d188c;
  --accent: #8a40dd;
}

